
@font-face {
	font-family: 'Tesoro';
	src: url('../fonts/FairpNarBooIta.eot');
	src: local('☺'), url('../fonts/FairpNarBooIta.woff') format('woff'), url('../fonts/FairpNarBooIta.ttf') format('truetype'), url('../fonts/FairpNarBooIta.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

p {
	font-family: "Georgia", serif;
	font-size: 17px;
	color: #595959;
}

body {
		font-family: "Georgia", serif;
}

strong {
    color:#F94600;
    font-weight: 400;
}

#fc-slideshow strong {
    color: #BC1727;
    font-weight: 400;
}


h1, h2, h3, h4 {
    font-family: "Georgia" Sans-Serif;
}



/*Sections*/



#s-uno {
background-color: #F3E6DD;
background-image: url("../img/bg1.jpg");
background-repeat: no-repeat;
/*background-size: cover;*/
padding-bottom: 200px;
background-position: 50% -13%;

}

#s-dos {
background-color: #FEF6EB;
background-image: url("../img/bg2.jpg");
background-repeat: no-repeat;
padding-bottom: 400px;
background-position: 50% -82%;


}

#s-tres {
background-color: #000;

}

#s-cuatro {
background-color: #fff;
background: url("../img/textura.png") repeat;
padding-bottom: 100px;
}


#s-cinco {
min-height: 900px;
background: url("../img/fieltro1.png") repeat;
}


#s-seis {
background-color: #D3D8DB;
background-image: url("../img/bg4.jpg");
padding-bottom: 100px;
background-position: 50% 50%;
background-repeat: no-repeat;
}


#s-siete {
	background: url("../img/textura-descubre.png") repeat;
padding-bottom: 100px;

}

#footer {
	min-height: 275px;
	background: url("../img/textura-f.png") repeat-x;
}

/*Menu*/

#menu{
    width: 100%;
    background-color: #000;
    font-family: "Georgia", serif;
    font-size: 14px;
    letter-spacing: 0.6px;
    height: 45px;
    padding: 0;
  
    
}

.section-nav {
    text-align: center;
    font-weight: normal;
} 

.section-nav ul {
    clear: both;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    background-color: #000;
   
}

.section-nav .active {
    color: #F71D31 ;
}

.section-nav li {
    background-color: #000000;
    display: inline-block;
    font-size: 1em;
    padding: 10px 7px;
    
   }

.section-nav a {
    color: #fff;
    outline: 0 none;
    text-decoration: none;
 
}

.section-nav a:hover {
    color: #F71D31;
    transition: all 400ms ease 0s;
}


#section-nav {
float: left;
width: 65%;
}

li.control {

}

ul.img-menu{
float: left;
width: 35%;

}


.logo-w {
	float: left;
}


.menu-logo {
	float: right;
	height: 41px;
	background-color: #000;
}

.img-menu li {
	display: inline;
}


/*H1 H2 */

h2.tit {
margin: 0;	
padding: 0px 0px 0px 5px;
font-family: "Georgia",serif;
font-style: normal;
font-weight: bold;	
color: #595959;
font-size: 2.7em;
letter-spacing: -2px;
	transform: scale(1, 1.2); /* Safari and Chrome */
    -webkit-transform:scale(1, 1.2); /* Safari and Chrome */
    -moz-transform:scale(1, 1.2); /* Firefox */
    -ms-transform:scale(1, 1.2); /* IE 9 */
    -o-transform:scale(1, 1.2); /* Opera */
}

h2.tesoro

{
font-family:'Tesoro',Sans-Serif;
font-style: normal;
font-size: 3.5em;
color: #595959;
font-weight: normal;
position: relative;
top: -8px;
text-align: right;
margin: 0;
}

/*Experimento*/

/*div.tesoro

{
font-family:'Tesoro',Sans-Serif;
font-style: normal;
font-size: 1.6em;
color: #595959;
font-weight: normal;
margin: 0;
float: left;
position: relative;
top: -9px;
}

div.tit {
margin: 0;  
padding: 0px 0px 0px 5px;
font-family: "Georgia",serif;
font-style: normal;
font-weight: bold;  
color: #595959;
font-size: 1.2em;
letter-spacing: -2px;*/
/*    transform: scale(1, 1.2); 
    -webkit-transform:scale(1, 1.2);
    -moz-transform:scale(1, 1.2);
    -ms-transform:scale(1, 1.2); 
    -o-transform:scale(1, 1.2);*/
/*}*/
/*section#s-dos .title-wrapper {
  padding-left: 80px;   
}*/



section#s-tres .title-wrapper,
section#s-cuatro .title-wrapper,
section#s-cinco .title-wrapper,
section#s-seis .title-wrapper,
section#s-siete .title-wrapper
 {
    padding-top: 170px;
}



.uno {
padding: 0px 5px 0px 0px;
}

.dos {
padding: 0;
}


.pre {
	font-family: "Georgia",serif;
    font-size: 1.7em;
    color: #595959;
    padding: 0px 0px 0px 5px;
    margin-bottom: 10px;
}

.img-principal {
	position: relative;
	left: -10px;
	margin: 60px 0px 70px 0px;
}

ul.s-como li {
	display: inline;
}



.descubre-circulo {
	height: 150px;
	width: 150px;
	margin: 0 auto;
}


.descubre-texto p {
	text-align: center;	
	padding-top: 10px;
	font-family: "Georgia" Sans-Serif;
	font-weight: 400;
	color: #6C6C6C;
}


.comprar {
	text-align: center;
    padding-top: 60px;

}


.sub-descubre {
    text-align: center;
}

.descubre-bloques {
    margin: 20px 0px;
}


section#footer {
    padding: 30px 0px;
    margin: 0;
}


#footer p {
    color:#fff;
    font-style: italic;
    padding-left: 3px;
    font-size: 16px;

}

#footer h3 {
    color:#fff;
font-size: 2.3em;
letter-spacing: 1px;
    transform: scale(1, 1.2); /* Safari and Chrome */
    -webkit-transform:scale(1, 1.2); /* Safari and Chrome */
    -moz-transform:scale(1, 1.2); /* Firefox */
    -ms-transform:scale(1, 1.2); /* IE 9 */
    -o-transform:scale(1, 1.2); /* Opera */
}

#footer a:hover {
    color: #F94600;
    opacity: 0.9;
}

#footer .logo {
    padding-top: 80px;
}

/*
Movimiento */


a#tumbado,
a#sentado,
a#mueve
 {
font-size: 1.5em;
font-weight: bold;
letter-spacing: -1px;
text-align: center;
}


.como1 {
    background: url("../img/como1-off.png") no-repeat center;
    height: 200px;
   margin: 0 auto;
   text-align: center;
}

.como2{
    background: url("../img/como2-off.png") no-repeat center;
    height: 200px;
   margin: 0 auto;
     text-align: center;
}

.como3 {
      background: url("../img/como3-off.png") no-repeat center;
    height: 200px;
   margin: 0 auto;  
     text-align: center;
}


.texto-como {
   padding: 16px 28px;

}

.texto-como p {
   font-size: 1.2em; 
   font-style: italic;
}

.c-enlace {
text-align: center;

}


#s-cuatro a {
   
    color: #B0B0B0;
}


#s-cuatro li.exp a.evento .como1 {
    background: url("../img/como1.png") no-repeat center;
     color: #595959;
}

#s-cuatro li.exp a.evento .como2 {
    background: url("../img/como2.png") no-repeat center;
     color: #595959;
}

#s-cuatro li.exp a.evento .como3 {
    background: url("../img/como3.png") no-repeat center;
     color: #595959;
}


a.evento .c-enlace1
{
    color: #595959;
    text-align: center;
}

.beneficios {
    margin-top: 80px;
}

/*
Efecto*/



.fc-slideshow {
    position: relative;
    width: 350px;
    height: 350px;
    box-shadow: inset 0 0 3px rgba(0,0,0,0.4), 0 0 0 8px #BC1727;
    border-radius: 50%;
    margin: 0 auto;
    -webkit-perspective: 1200px;
    -moz-perspective: 1200px;
    perspective: 1200px;
}

.fc-slideshow nav {
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 10000;
}

.fc-slideshow nav > div {
    position: absolute;
    height: 100%;
    top: 25px;
    width: 50%;
    color: ##595959;
}


.fc-slideshow nav .fc-right {
    right: 0;
}

.fc-slideshow nav > div span {
    height: 33%;
    width: 100%;
    position: absolute;
    left: 0;
    cursor: pointer;
}


/*Posiciones span*/

.fc-slideshow nav > div span:first-child {
    top: 0;
}

.fc-slideshow nav > div span:nth-child(2) {
    top: 33%;
}

.fc-slideshow nav > div span:nth-child(3) {
    top: 66%;
}

.fc-slideshow nav i
{
    position: absolute;
    width: 100%;
    height: 10px;
    top: 50%;
    margin-top: -20px;
    pointer-events: none;
    opacity: 0;
    -webkit-backface-visibility: hidden;
    -webkit-transition: all 0.2s ease;
    -moz-backface-visibility: hidden;
    -moz-transition: all 0.2s ease;
    backface-visibility: hidden;
    transition: all 0.2s ease;
}


.fc-slideshow nav .fc-left i {
    -webkit-transform-origin: 100% 50%;
    -moz-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    text-align: left;
    width: 95px;
    height: 2px;
    background-color: #F74300;

}

.fc-slideshow nav .fc-right i {
    -webkit-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    text-align: left;
      width: 35px;
    height: 2px;

}

/*.fc-slideshow nav .fc-right i {
    -webkit-transform-origin: 0% 50%;
    -moz-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    text-align: right;
}*/

.fc-slideshow nav i.icon-arrow-left {
    left: 150px;
    background-color: #BC1727;
    width: 60px;
}

.csstransforms3d .fc-slideshow nav > div span:hover ~ i,
.no-csstransforms3d .fc-slideshow nav i,
.no-csstransforms3d .fc-slideshow nav > div span {
    opacity: 1;
}


/*Central*/

.csstransforms3d .fc-slideshow nav > .fc-left span:nth-child(2):hover ~ i{
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
     left: 170px;
     top: 150px;
     width: 65px;
}


.csstransforms3d .fc-slideshow nav > .fc-right span:nth-child(2):hover ~ i{
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    background-color: #BC1727;
     height: 2px;
     left: -65px;
     top: 147px;
     width: 70px;
    
}


/*Diagonal 1*/

.csstransforms3d .fc-slideshow nav > .fc-left span:first-child:hover ~ i
 {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
     background-color: #BC1727;
     left: 180px;
     top: 95px;
     width: 70px;
}

.csstransforms3d .fc-slideshow nav > .fc-right span:nth-child(3):hover ~ i {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
      background-color: #BC1727;
     height: 2px;
     left: -70px;
     top: 190px;
     transform: rotate(45deg);
     width: 90px;
}
/*
fin diagonal*/

/*
Diagonal 2*/

.csstransforms3d .fc-slideshow nav > .fc-right span:first-child:hover ~ i
 {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
     background-color: #BC1727;
     height: 2px;
     left: -80px;
     top: 110px;
     width: 94px;

}


.csstransforms3d .fc-slideshow nav > .fc-left span:nth-child(3):hover ~ i {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
     left: 160px;
     top: 205px;
     width: 80px;

}

/*Active*/
.fc-slideshow nav i.primerhover {
    opacity: 1;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
     background-color: #BC1727;
     left: 180px;
     top: 95px;
     width: 70px;
}



ul.fc-slides {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.fc-slides li {
    display: none;
}

.no-js ul.fc-slides li {
    display: block;
}

.fc-flip {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.fc-flip div {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 50%;
    top: 0;
    left: 0;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}

.fc-flip .fc-back {
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

.fc-overlay-light,
.fc-overlay-dark {
    opacity: 0;
}

.fc-overlay-light {
    background: rgba(255,255,255,1);
}

.fc-overlay-dark {
    background: rgba(0,0,0,1);
}

/* No JS fallback */

.no-js .fc-slideshow {
    height: auto;
    box-shadow: none;
}


.fc-left {
    position: relative;
    left: -242px;
/*    background-color: #ccc;*/
}


.fc-right {
        position: relative;
    left: 420px;
/*    background-color: #dadada;*/
}

.fc-slideshow .circle-texto {
   left: 25px;
    line-height: 2.2em;
    position: absolute;
    text-align: center;
    top: 91px;
    width: 300px;
}


#s-cinco span:hover{
    color: #BC1727;

}

#fc-slideshow span {
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: -1px;
    font-family: "Georgia", sans-serif;
    color: #767676;
}


#fc-slideshow .fc-left span {

    text-align: right;
}


#fc-slideshow .fc-right span {

    text-align: left;
}


.favorece {
    padding-top: 20px;
}
.decisiones {
    padding: 10px;
}
.descubrir {
padding-top: 25px;
}
.sentidos {
    padding-top: 20px;

}

.concentracion {
    padding-top: 15px;
}


span#dos {
   width: 128%;
    left: -66px;
}

span#cinco {
    left: 20px;
}

.fc-slideshow {
background: url("../img/fieltro3.png") repeat;
}

/*Fin efecto*/

.favorece-container {
    background-color: #E5DED4;
}

.video-container {
min-height: 400px;
}


.video-img  {
   text-align: center;
   padding-top: 170px;
}

.video-img a:hover {
    opacity: 0.9;
}



.video-player {
 display: none;
}

.video-frame {
     background-image: url("../img/bg3.jpg");
     padding-bottom: 140px;
     background-repeat: no-repeat;
    background-position: 50% 130%;

}

.video-player {
    position: relative;
    top: -489px;
    height: 0;
}

.form-close a {
    color: #FFFFFF;
    cursor: pointer;
    float: right;
    font-size: 1.3em;
    font-weight: bold;
    line-height: 1;
    position: relative;
    right: -7px;
    top: -43px;
}

.form-close a:hover
 {
color: #FF4D00;
text-decoration: underline;
}

/*.row {
    border-left: 1px solid red;
    border-right: 1px solid red;
}
*/

.cesto-img {
    padding-top: 100px;
    z-index: 1000;
}


.title-wrapper-cesto {
    padding-top: 30px;
}

.texto-descubre p {
    text-align: center;
}

#s-dos .title-wrapper {
    padding-top: 100px;
}




div.floating-menu {
    position:fixed;
    width:150px;
    z-index:100;
    right: 15px;

}
div.floating-menu a, 
div.floating-menu h3 {
    display:block;margin:0 0.5em;
    color: purple;
}

/*
Efecto circulo*/

.ch-item {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: relative;
    cursor: default;
/*    box-shadow: 0 1px 3px rgba(0,0,0,0.2);*/
}

.ch-thumb {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    box-shadow: inset 0 0 0 10px rgba(226,51,140, 1);
    
    -webkit-transform-origin: 95% 40%;
    -moz-transform-origin: 95% 40%;
    -o-transform-origin: 95% 40%;
    -ms-transform-origin: 95% 40%;
    transform-origin: 95% 40%;
    
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.ch-thumb:after {
    content: '';
    width: 8px;
    height: 8px;
    position: absolute;
    border-radius: 50%;
    top: 40%;
    left: 95%;
    margin: -4px 0 0 -4px;
    background: rgb(14,14,14);
    background: -moz-radial-gradient(center, ellipse cover, rgba(14,14,14,1) 0%, rgba(125,126,125,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(14,14,14,1)), color-stop(100%,rgba(125,126,125,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(14,14,14,1) 0%,rgba(125,126,125,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(14,14,14,1) 0%,rgba(125,126,125,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(14,14,14,1) 0%,rgba(125,126,125,1) 100%);
    background: radial-gradient(ellipse at center, rgba(14,14,14,1) 0%,rgba(125,126,125,1) 100%);
    box-shadow: 0 0 1px rgba(255,255,255,0.9);
}

.ch-img-1 { 
    background-image: url(../img/naturales3.png);
    z-index: 12;
}

.ch-img-2 { 
    background-image: url(../img/madera.png);
    z-index: 11;
}

.ch-img-3 { 
    background-image: url(../img/metal.png);
    z-index: 10;
}
.ch-img-4 { 
    background-image: url(../img/tela.png);
    z-index: 9;
}

.ch-info {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    background-color: #E2338C;
    box-shadow: inset 0 0 0 5px rgba(0,0,0,0.05);
}

.ch-info h3 {
     color: #FFFFFF;
     font-family: 'Tesoro',Sans-Serif;
     font-size: 1.2em;
     height: 0px;
     letter-spacing: 1px;
     margin: 0px 20px;
     padding: 45px 0px 0px;
     position: relative;
     text-shadow: 0px 0px 1px #FFFFFF, 0px 1px 2px rgba(0, 0, 0, 0.3);
}


.ch-item:hover .ch-thumb {
    box-shadow: inset 0 0 0 10px rgba(226,51,140, 0.8), 0 1px 3px rgba(0,0,0,0.2);
    -webkit-transform: rotate(-120deg);
    -moz-transform: rotate(-120deg);
    -o-transform: rotate(-120deg);
    -ms-transform: rotate(-120deg);
    transform: rotate(-120deg);
}

.ch-grid {
    padding: 0;
    list-style: none;
    display: block;
    text-align: center;
    width: 100%;
}

.ch-grid:after,
.ch-item:before {
    content: '';
    display: table;
}

.ch-grid:after {
    clear: both;
}

.ch-grid li {
    width: 150px;
    height: 150px;
    display: inline-block;
    margin: 40px;
}


