


@media only screen and (max-width: 320px) {

h2.tesoro { 
      text-align: center;
      font-size: 2em;

}
    h2.tit { 
      font-size: 1.6em;
      margin: 0 0 26px;
       text-align: center;
   }
    #s-uno {
      padding-bottom: 50px;
    }

    .img-principal {
    left: 0px;
}

.img-menu{
  display: none;
}

.section-nav li {  
    display: block;
}

#section-nav {
    float: none;
    width: 100%;
}


}
@media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (max-width: 320px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (max-width: 320px),
only screen and (   -moz-min-device-pixel-ratio: 2)      and (max-width: 320px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (max-width: 320px),
only screen and (        min-device-pixel-ratio: 2)      and (max-width: 320px),
only screen and (                min-resolution: 192dpi) and (max-width: 320px),
only screen and (                min-resolution: 2dppx)  and (max-width: 320px) {
  /* Small screen, retina */
  #s-uno{ background-image: url("../img/media/uno290@2.jpg"); }
}



@media only screen and (min-width: 321px) and (max-width: 538px) {
  /* Medium screen, non-retina */
    
h2.tesoro { 
text-align: center;
font-size: 2em;
border-top: 1px solid purple;

}

h2.tit { 
font-size: 1.6em;
margin: 0 0 26px;
text-align: center
}

#s-uno {
padding-bottom: 50px;
}

.img-principal {
left: 0px;
}

.cesto-menu-logo {
  width: 100px;
}

.l-objek {
padding: 4px 0 0 6px;
width: 45px;
}  

.pre {
text-align: center;
}


.menu-logo {
width: 80px;
} 

ul.img-menu {
float: left;
width: 27%;
}

#section-nav {
width: 70%;
}

.section-nav li {

background-color: #000000;
display: inline-block;
font-size: 0.567em;
padding: 10px 5px;
}

#menu {
    height: 32px;
}

p {
text-align: center;
}


#video-play {
  display: none;
}

#video-play-responsive {
  display: block;
}
#s-cuatro-responsive, #s-cinco-responsive {
    display: block;
}

#s-cuatro, #s-cinco {
  display: none;
}

#s-cinco-responsive {
  background: url("../img/fieltro1.png") repeat;
}

a#tumbado, a#sentado, a#mueve {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    color: #000;
}

.como1 {
    background: url("../img/como1.png") no-repeat center;
}

.como2{
    background: url("../img/como2.png") no-repeat center;
}

.como3 {
      background: url("../img/como3.png") no-repeat center;
}










}

@media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 321px) and (max-width: 538px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 321px) and (max-width: 538px),
only screen and (   -moz-min-device-pixel-ratio: 2)      and (min-width: 321px) and (max-width: 538px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 321px) and (max-width: 538px),
only screen and (        min-device-pixel-ratio: 2)      and (min-width: 321px) and (max-width: 538px),
only screen and (                min-resolution: 192dpi) and (min-width: 321px) and (max-width: 538px),
only screen and (                min-resolution: 2dppx)  and (min-width: 321px) and (max-width: 538px) {
  /* Medium screen, retina */
  #s-uno{ background-image: url("../img/media/uno538@2.jpg"); }
  h2.tesoro { text-align: left;
background-color: olive;
  }
}

/*@media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 539px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 539px),
only screen and (   -moz-min-device-pixel-ratio: 2)      and (min-width: 539px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 539px),
only screen and (        min-device-pixel-ratio: 2)      and (min-width: 539px),
only screen and (                min-resolution: 192dpi) and (min-width: 539px),
only screen and (                min-resolution: 2dppx)  and (min-width: 539px) {*/
  /* Large screen, retina */
/*    h2.tesoro { 
      text-align: center;
      font-size: 2em;
  border-top: 1px solid purple;

    }
    h2.tit { 
      font-size: 1.6em;
      margin: 0 0 26px;
      text-align: center
   }
    #s-uno {
      padding-bottom: 50px;
    }

    .img-principal {
    left: 0px;
}

.cesto-menu-logo {
  width: 100px;
}
.l-objek {

  width: 60px;
}  

.menu-logo {

width: 80px;

} 

ul.img-menu {
    float: left;
    width: 30%;
}
#section-nav {
    width: 70%;
}

.section-nav li {
    font-size: 0.5em;
}

p {
  text-align: center;
}
#video-play {
  display: none;
}

#video-play-responsive {
  display: block;
  border: 2px solid purple;
}

}*/

/*Solo modo horizontal*/

@media only screen and (orientation:portrait) and (max-width: 767px) {
        #cesto-wrapper { display:none; }
        #warning-message { display:block; }
        body {background: url("../img/textura.png") repeat scroll 0 0 transparent;}
    }


@media only screen and (orientation:landscape) {
        #warning-message { display:none; }
}


