


@media only screen and (max-width: 320px) {
  /* Small screen, non-retina */
  #s-uno{ background-image: url("../img/media/uno290.jpg"); }
}
@media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (max-width: 320px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (max-width: 320px),
only screen and (   -moz-min-device-pixel-ratio: 2)      and (max-width: 320px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (max-width: 320px),
only screen and (        min-device-pixel-ratio: 2)      and (max-width: 320px),
only screen and (                min-resolution: 192dpi) and (max-width: 320px),
only screen and (                min-resolution: 2dppx)  and (max-width: 320px) {
  /* Small screen, retina */
  #s-uno{ background-image: url("../img/media/uno290@2.jpg"); }
}
@media only screen and (min-width: 321px) and (max-width: 538px) {
  /* Medium screen, non-retina */
    #s-uno{ background-image: none; }
    h2.tesoro { text-align: left;}
}
@media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 321px) and (max-width: 538px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 321px) and (max-width: 538px),
only screen and (   -moz-min-device-pixel-ratio: 2)      and (min-width: 321px) and (max-width: 538px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 321px) and (max-width: 538px),
only screen and (        min-device-pixel-ratio: 2)      and (min-width: 321px) and (max-width: 538px),
only screen and (                min-resolution: 192dpi) and (min-width: 321px) and (max-width: 538px),
only screen and (                min-resolution: 2dppx)  and (min-width: 321px) and (max-width: 538px) {
  /* Medium screen, retina */
  #s-uno{ background-image: url("../img/media/uno538@2.jpg"); }
  h2.tesoro { text-align: left;}
}
@media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 539px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 539px),
only screen and (   -moz-min-device-pixel-ratio: 2)      and (min-width: 539px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 539px),
only screen and (        min-device-pixel-ratio: 2)      and (min-width: 539px),
only screen and (                min-resolution: 192dpi) and (min-width: 539px),
only screen and (                min-resolution: 2dppx)  and (min-width: 539px) {
  /* Large screen, retina */
  #s-uno{ background-image: url("../img/media/uno970@2.jpg"); }
  h2.tesoro { text-align: left;}
}

