


@media only screen and (min-width: 321px) and (max-width: 539px) {
  /* Medium screen, non-retina */


#s-uno {
    background-image: url("../img/bg1-mv1.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    padding-bottom: 280px;
    padding-top: 70px;
}


#s-dos {
    background-image: url("../img/bg2-mv.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    padding-bottom: 300px;
}

#s-cuatro-responsive {
    background: url("../img/textura.png") repeat scroll 0 0 transparent;
}

.video-frame {
 background: none;
 padding: 0;

}

#s-tres {
    background-image: url("../img/bg3-mv.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    padding-bottom: 355px;

}

.snow {
  background: none;
}

#s-seis {
    background-image: url("../img/bg4-mv.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    padding-bottom: 310px;
}

.c-enlace1 {
margin-bottom: 20px;
}
  
h2.tesoro { 
text-align: center;
font-size: 3em;

}

h2.tit { 
font-size: 3em;
margin: 0 0 26px;
text-align: center
}


.img-principal {
text-align: center;
}

.cesto-menu-logo {
  width: 100px;
}

.l-objek {
padding: 4px 0 0 6px;
width: 45px;
}  

.pre {
text-align: center;
}


.menu-logo {
width: 80px;
} 

ul.img-menu {
float: left;
width: 27%;
}

#section-nav {
width: 70%;
}

.section-nav li {

    background-color: #000000;
    display: inline-block;
    font-size: 0.9em;
    padding: 10px 5px;
}

#menu {
    height: 41px;
}

p {
text-align: center;
  margin-left: 2em;
  margin-right: 2em;
}


#video-play {
  display: none;
}

#video-play-responsive {
  display: block;
}
#s-cuatro-responsive, #s-cinco-responsive {
    display: block;
   padding-top: 100px;
}

#s-cuatro, #s-cinco {
  display: none;
}

#s-cinco-responsive {
  background: url("../img/fieltro1.png") repeat;
}

a#tumbado, a#sentado, a#mueve {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    color: #595959;
}

.como1 {
    background: url("../img/como1.png") no-repeat center;
}

.como2{
    background: url("../img/como2.png") no-repeat center;
}

.como3 {
      background: url("../img/como3.png") no-repeat center;
}

#s-cinco-responsive h4 {
  color: #BC1727;
  text-align: center;
  font-size: 1.9em;
}

#s-cinco-responsive strong {
font-weight: bold;
color: #595959;
}


.circle-texto {
  margin: 50px 0px;
}

.footer-texto p {
  text-align: left;
}
span.tienda {
    padding: 0 60px;
}


#footer p {
    line-height: 30px;
}

section#s-tres .title-wrapper, section#s-cuatro .title-wrapper, section#s-cinco .title-wrapper, section#s-seis .title-wrapper, section#s-siete .title-wrapper {
    padding-top: 0px;
}
section#s-cuatro-responsive , 
section#s-cinco-responsive , 
section#s-seis,
section#s-tres
 {
    padding-top: 30px;
}

#footer .logo {
    padding-top: 50px;
    text-align: center;
}


.video-img-responsive {
    text-align: center;
}

.comprar-img {
  display: none;
}

.cesto-img {
    width: 100%;
}

#mueve p, #sentado p, #tumbado p {
    color: #B0B0B0;
    font-size: 0.8em;
    font-weight: normal;
    line-height: 1.5em;
    margin: 0 2em;
}


#menu-comprar {
  display: none;
}

#footer p.todo-contacta {
    color: #FFFFFF;
    padding-left: 13px;
    text-align: left;
}

p.f-contacta {
  margin: 0;

}
.redes-wrapper {
 padding-left: 84px;
}


#footer {
    background: url("../img/textura-f-responsive.png") repeat scroll 0 0 transparent;
}


.nosotros-wrapper {
    padding-left: 84px;
    padding-top: 10px;
}

#player-responsive {
    display: block;
}

#promo {
  position: absolute;
}

}

/*--------------------------------------------------------------------------------*/

@media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 539px) and (max-width: 768px)  ,
only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 539px) and (max-width: 768px)  ,
only screen and (   -moz-min-device-pixel-ratio: 2)      and (min-width: 539px) and (max-width: 768px)  ,
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 539px) and (max-width: 768px)  ,
only screen and (        min-device-pixel-ratio: 2)      and (min-width: 539px) and (max-width: 768px)  ,
only screen and (                min-resolution: 192dpi) and (min-width: 539px) and (max-width: 768px)  ,
only screen and (                min-resolution: 2dppx)  and (min-width: 539px) and (max-width: 768px)   {


#s-uno {
    background-image: url("../img/bg1-mv1.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    padding-bottom: 310px;
    padding-top: 70px;
}


#s-dos {
    background-image: url("../img/bg2-mv.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    padding-bottom: 300px;
}

#s-cuatro-responsive {
    background: url("../img/textura.png") repeat scroll 0 0 transparent;
}

.video-frame {
 background: none;
 padding: 0;

}

#s-tres {
    background-image: url("../img/bg3-mv.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    padding-bottom: 355px;

}

.snow {
  background: none;
}

#s-seis {
    background-image: url("../img/bg4-mv.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    padding-bottom: 310px;
}

.c-enlace1 {
margin-bottom: 20px;
}
  
h2.tesoro { 
text-align: center;
font-size: 3em;

}

h2.tit { 
font-size: 3em;
margin: 0 0 26px;
text-align: center
}


.img-principal {
text-align: center;
}

.cesto-menu-logo {
  width: 100px;
}

.l-objek {
padding: 4px 0 0 6px;
width: 45px;
}  

.pre {
text-align: center;
}


.menu-logo {
width: 80px;
} 

ul.img-menu {
float: left;
width: 27%;
}

#section-nav {
width: 70%;
}

.section-nav li {

    background-color: #000000;
    display: inline-block;
    font-size: 0.9em;
    padding: 10px 7px;
}

#menu {
    height: 41px;
}

p {
text-align: center;
  margin-left: 2em;
  margin-right: 2em;
}


#video-play {
  display: none;
}

#video-play-responsive {
  display: block;
}
#s-cuatro-responsive, #s-cinco-responsive {
    display: block;
   padding-top: 100px;
}

#s-cuatro, #s-cinco {
  display: none;
}

#s-cinco-responsive {
  background: url("../img/fieltro1.png") repeat;
}

a#tumbado, a#sentado, a#mueve {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    color: #595959;
}

.como1 {
    background: url("../img/como1.png") no-repeat center;
}

.como2{
    background: url("../img/como2.png") no-repeat center;
}

.como3 {
      background: url("../img/como3.png") no-repeat center;
}

#s-cinco-responsive h4 {
  color: #BC1727;
  text-align: center;
  font-size: 1.9em;
}

#s-cinco-responsive strong {
font-weight: bold;
color: #595959;
}


.circle-texto {
  margin: 50px 0px;
}

.footer-texto p {
  text-align: left;
}
span.tienda {
    padding: 0 60px;
}


#footer p {
    line-height: 30px;
}

section#s-tres .title-wrapper, section#s-cuatro .title-wrapper, section#s-cinco .title-wrapper, section#s-seis .title-wrapper, section#s-siete .title-wrapper {
    padding-top: 0px;
}
section#s-cuatro-responsive , 
section#s-cinco-responsive , 
section#s-seis,
section#s-tres
 {
    padding-top: 30px;
}

#footer .logo {
    padding-top: 50px;
    text-align: center;
}


.video-img-responsive {
    text-align: center;
}

.comprar-img {
  display: none;
}

.cesto-img {
    width: 100%;
}

#mueve p, #sentado p, #tumbado p {
    color: #B0B0B0;
    font-size: 0.8em;
    font-weight: normal;
    line-height: 1.5em;
    margin: 0 2em;
}


#menu-comprar {
  display: none;
}

#footer p.todo-contacta {
    color: #FFFFFF;
    padding-left: 13px;
    text-align: left;
}

p.f-contacta {
  margin: 0;

}
.redes-wrapper {
 padding-left: 84px;
}


#footer {
    background: url("../img/textura-f-responsive.png") repeat scroll 0 0 transparent;
}


.nosotros-wrapper {
    padding-left: 84px;
    padding-top: 10px;
}


#player-responsive {
    display: block;
}

.flecha-down {
  display: none;
}
.btn-comprar {
  text-align: center;
}
}



@media only screen and (min-width: 1300px) and (max-width: 1396px){
.texto-descubre p {
 margin-bottom: 0.4em;
}

.comprar {
    padding-top: 0;
}
.cesto-img {
    padding-top: 67px;
} 

.ch-grid li {
    display: inline-block;
    height: 150px;
    margin: 15px 40px;
    width: 150px;
}

.title-wrapper-cesto {
    padding-top: 0px;
}

}


/*Solo modo horizontal*/

@media only screen and (orientation:portrait) and (max-width: 767px) {
        #cesto-wrapper { display:none; }
        
        #warning-message { display:block; }
        body {background: url("../img/textura.png") repeat scroll 0 0 transparent;}
    }


@media only screen and (orientation:landscape) {
        #warning-message { display:none; }
}


@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {

.section-nav li {
    display: inline-block;
    font-size: 0.9em;
    padding: 10px 4px;
}
}

